.grid {
    display: flex;
    flex-wrap: wrap;

    .item {
        width: 25%;
        padding: 0 7px;
        margin-bottom: 15px;

        .itemDescription {
            font-size: 14px;
            line-height: 18px;
            color: #000;
            position: relative;

            h4 {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.2em;
                max-height: 1.2em;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
                max-width: 100%;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #00b53f;
            }
        }
    }
}