<h1>Trending Ads</h1>

<div class="grid">

    <div class="carItem" *ngFor="let adItem of advertListData">

        <div class="carImage">
            <img src = "{{adItem.image}}" />
        </div>
    
        <!-- <div class="carDescription">
    
            <h5>
                {{carItem.price}}
            </h5>
            <p>
                To read more, <a href="{{carItem.advert_url}}" target="_blank">click here</a>
            </p>
            
        </div> -->
    
    </div> 
    
</div>
